@tailwind base;
@tailwind components;
@tailwind utilities;

.quickInfoBg {
  background-image: url("/assets/timelapse.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.workExperienceBg {
  background-image: url("/assets/wave.png");
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
}

.projectBg { 

  background-image: url("/assets/sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

 
.techStackBg { 

  background-image: url("/assets/techstack.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

