.marqueeContainer {
  padding: 30px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.marqueeContent {
  display: inline-block;
  justify-content: center;
  animation: marquee 20s linear infinite;
}

.marqueeItem {
  padding: 10px;
  display: inline-block;
  margin-left: 100px; /* Adjust spacing between items */
  margin-right: 100px; /* Adjust spacing between items */
}

.marqueeInner {
  display: inline-block;
  padding-right: 100%; /* Ensure enough space for a smooth loop */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
